<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-AU">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="{{siteUrl}}apple-touch-icon.png?v=4">
    <link rel="icon" type="image/png" href="{{siteUrl}}favicon-32x32.png?v=4" sizes="32x32">
    <link rel="icon" type="image/png" href="{{siteUrl}}favicon-16x16.png?v=4" sizes="16x16">
    <link rel="manifest" href="{{siteUrl}}manifest.json?v=4">
    <link rel="mask-icon" href="{{siteUrl}}safari-pinned-tab.svg?v=4" color="#3F4BA0">
    <meta name="theme-color" content="#3F4BA0">
    
    <link rel="stylesheet" href="{{siteUrl}}assets/css/main.css">
  {% endblock %}
</head>
<body>
  
  {% block body %}{% endblock %}
  {% block foot %}{% endblock %}

  <script src="{{siteUrl}}assets/js/main.js" async defer></script>
</body class="w-100 sans-serif">
</html>